* {
  padding: 0;
  box-sizing: border-box;
}
body{

  background-color: #9ca6b6;
}
/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

.navbar {
    grid-row: 1/-1;
    background-color: #834cff;
    padding: 0.5rem;
    align-content: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 1px 1px 20px -3px black;
  }
  
  .calendarContainer {
    display: flex;
    flex: 1;
    background-color: aqua;
    /* height: 100vh; */
  }
  
  .calendarLeft {
    padding: 1.5rem;
    display: flex;
    flex: 0.7;
    overflow: hidden;
  }
  
  .calendarRight {
    flex: 0.3;
    position: inherit;
    overflow-y: scroll;
  }
  
  .main_calendar {
    /* width: 100%; */
    /* margin: 2em; */
    height: fit-content;
    /* box-shadow: 1px 1px 20px -3px black; */
  }
  